* {
    margin: 0;
    padding: 0;
    box-sizing: 0;
}

.nav-bar {
    width: 100%;
    padding: 20px;
    position: fixed;
}

.container {
    display: flex;
    justify-content: space-between;
}

.link {
    display: flex;
    justify-content: space-between;
    padding: 10px;
}

.link a {
    padding-right: 25px;
    text-decoration: none;
    color: black;
    font-weight: 500;
}

.link a:hover {
    color: aqua;
    transition: 0.4s;
}